<?xml version="1.0"?>
<robot name="cylinder" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="cylinder_length" default="1"/>
  <xacro:arg name="cylinder_radius" default="1"/>

  <xacro:include filename="$(find demo_description)/urdf/cylinder_base.xacro"/>

  <xacro:cylinder cylinder_length="$(arg cylinder_length)" cylinder_radius="$(arg cylinder_radius)">
  </xacro:cylinder>

</robot>
